<br>
<div class="col-md-4 offset-md-4">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group" >
            <input type="text" name="numero"class="form-control"  placeholder="Admin" [(ngModel)]="usuario">
          </div>
        <div class="form-group">
          <input class="form-control" name="pass" type="password" placeholder="Admin" [(ngModel)]="pass">
        </div>
        <button type="button" class="btn btn-primary btn-block" (click)="login()">Iniciar</button>
      </form>

    </div>

  </div>

</div>
